<div class="proyecto-section mb-4">
        <h2 class="proyecto-title-main">Proyectos Realizados</h2>
        <p class="line firstLine"></p>
        <p class="line secondLine"></p>  
    <div class="row proyecto-row" >
        <div class="col-sm-12 col-md-6 col-lg-6 proyecto-information">
            <h3 class="proyecto-title">Listador de tareas</h3>
            <p>Permite listar de forma ordenada las tareas realizadas por parte del usuario.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 proyecto-image-section">
            <a href="https://dynamic-lamington-7b695a.netlify.app/" title="Click para ir a la pagina"><img class="img-fluid proyecto-image" src="../../../assets/proyecto1.jpg" alt="proyecto"></a>
        </div>
    </div>
    <br>
    <div class="row proyecto-row mt-4" >
        <div class="col-sm-12 col-md-6 col-lg-6 proyecto-information">
            <h3 class="proyecto-title">App de Noticias</h3>
            <p>Permite al usuario filtrar las noticias que desee leer por medio de una serie de campos que se piden en un formulario.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 proyecto-image-section">
            <a href="https://jolly-sunburst-edf493.netlify.app/" title="Click para ir a la pagina"><img class="img-fluid proyecto-image" src="../../../assets/proyecto2.JPG" alt="proyecto2"></a>
        </div>
    </div>
</div>