<div class="proyecto-section mb-4">
        <h2 class="proyecto-title-main">Proyectos Realizados</h2>
        <p class="line firstLine"></p>
        <p class="line secondLine"></p>  
    <div class="row proyecto-row">
        <div class="col-sm-12 col-md-6 col-lg-6 proyecto-information">
            <h3 class="proyecto-title">Listador de tareas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, vero fugit rerum dolorem architecto amet  officia totam iusto iure cupiditate vel facere et autem pariatur doloremque harum animi maxime accusamus!
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 proyecto-image-section">
            <img class="img-fluid proyecto-image" src="../../../assets/proyecto1.jpg" alt="proyecto">
        </div>
    </div>
</div>