
  <!-- Nota-->
<!-- 
    show Units: sirve para mostrar el porcentaje (Boolean)
    lazy: sirve para decir si la animacion se mostrara el momento que el usuario lo visualize (Boolean)
 
  [title]="'Spring Boot'"
  [titleColor]="'#EDEDED'"
  [titleFontSize]="'1.2em'"
-->
<div class="containter">
    <div class="row skill-section">
      <div class="col-sm-12 col-md-12 col-lg-6 skill-column">
        <div class="column">

          <h2 class="skill-title">
            HARD SKILLS
            <a *ngIf="!crearForm && estaLogeado" class="btn btn-sm" style="color: #EDEDED; background-color: #ff764d;" (click)="crearSkill()"><i class="fa-solid fa-plus"></i></a>

            <a *ngIf="crearForm && estaLogeado" class="btn btn-sm" style="color: #EDEDED; background-color: #ff764d;" (click)="cerrarCrearSkill()"><i class="fa-solid fa-x" ></i></a>
          </h2>
          
          <p class="line firstLine"></p>
          <p class="line secondLine"></p>

          <div class="card-crear card text-white mb-4 mt-4" *ngIf="crearForm">
            <div class="card-header mt-2">NUEVA HARD SKILL</div>
            <div class="card-body">
              <app-crear-hard></app-crear-hard>
            </div>
          </div>

          <div class="skill-content" *ngFor="let hard of HSkills">
            <app-hard-card [skill]="hard"></app-hard-card>
          </div>
          <div class="no-skill card"  *ngIf="HSkills.length == 0">
            <div class="card-header">
              <div class="card-header mt-2 text-center">NO SE REGISTRO NINGUNA HARD SKILL</div>
            </div>
          </div>

        </div>

      </div>

      <!-- SOFT SKILL -->
      <div class="col-sm-12 col-md-12 col-lg-6 skill-column">

        <div class="column">

          <h2 class="skill-title">
            SOFT SKILLS
            <a *ngIf="!crearFormSoft && estaLogeado"  class="btn btn-sm" style="color: #EDEDED; background-color: #ff764d;" (click)="crearSkillSoft()"><i class="fa-solid fa-plus"></i></a>

            <a *ngIf="crearFormSoft && estaLogeado" class="btn btn-sm" style="color: #EDEDED; background-color: #ff764d;" (click)="cerrarCrearSkillSoft()"><i class="fa-solid fa-x" ></i></a>
          </h2>
          <p class="line firstLine"></p>
          <p class="line secondLine"></p>

          <div class="card-crear card text-white mb-4 mt-4" *ngIf="crearFormSoft">
            <div class="card-header mt-2">NUEVA SOFT SKILL</div>
            <div class="card-body">
              <app-crear-soft></app-crear-soft>
            </div>
          </div>

          <div class="skill-content" *ngFor="let soft of SSkills">
            <app-soft-card [skill]="soft"></app-soft-card>
          </div>
          <div class="no-skill card"  *ngIf="SSkills.length == 0">
            <div class="card-header">
              <div class="card-header mt-2 text-center">NO SE REGISTRO NINGUNA SOFT SKILL</div>
            </div>
          </div>

        </div>

      </div>
    </div>
</div>

            <!-- <div class="skill px-4 mt-4">
              <h3 class="skill-subtitle">CSS</h3>
                <div class="progress" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 10%"></div>
                </div>
            </div> -->


    <!-- <div class="row skill-section">
        <div>
            <h2 class="skill-title">HARD SKILLS Y SOFT SKILLS</h2>
            <p class="line firstLine"></p>
            <p class="line secondLine"></p>
        </div>

        <div class="columna col-sm-6 col-md-4 col-lg-4 text-center">
            <span class="title-text">HTML</span><br>
            <circle-progress
            [showUnits]="false"
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/html-logo.png'"
            [imageWidth]="88"
            [imageHeight]="100"
            [showImage]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff764d'"
            [innerStrokeColor]="'#172538'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
          ></circle-progress>
        </div>
        <div class="columna col-sm-6 col-md-4 col-lg-4 text-center">
            <span class="title-text">CSS</span><br>
            <circle-progress
            [showUnits]="false"
            [subtitle]="''"
            [subtitleColor]="'#EDEDED'"
            [subtitleFontSize]="'20'"
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/css-logo.png'"
            [imageWidth]="88"
            [imageHeight]="100"
            [showImage]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff764d'"
            [innerStrokeColor]="'#172538'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
          ></circle-progress>
        </div>
        <div class="columna col-sm-6 col-md-4 col-lg-4 text-center">
            <span class="title-text">Javascript</span><br>
            <circle-progress
            [showUnits]="false"
            [subtitle]="''"
            [subtitleColor]="'#EDEDED'"
            [subtitleFontSize]="'20'"
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/javascript-logo.png'"
            [imageWidth]="88"
            [imageHeight]="100"
            [showImage]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff764d'"
            [innerStrokeColor]="'#172538'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
          ></circle-progress>
        </div>
        <div class="columna col-sm-6 col-md-4 col-lg-4 text-center">
            <span class="title-text">Angular</span><br>
            <circle-progress
            [showUnits]="false"
            [subtitle]="''"
            [subtitleColor]="'#EDEDED'"
            [subtitleFontSize]="'20'"
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/angular-logo.png'"
            [imageWidth]="120"
            [imageHeight]="124"
            [showImage]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff764d'"
            [innerStrokeColor]="'#172538'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
          ></circle-progress>
        </div>
        <div class="columna col-sm-6 col-md-4 col-lg-4 text-center">
            <span class="title-text">Spring Boot</span><br>
            <circle-progress
            [showUnits]="false"
            [subtitle]="''"
            [subtitleColor]="'#EDEDED'"
            [subtitleFontSize]="'20'"
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/spring-logo.png'"
            [imageWidth]="200"
            [imageHeight]="120"
            [showImage]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff764d'"
            [innerStrokeColor]="'#172538'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
          ></circle-progress>
        </div>
        <div class="columna col-sm-6 col-md-4 col-lg-4 text-center">
            <span class="title-text">Ingles</span><br>
            <circle-progress
            [showUnits]="false"
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/talk-logo.png'"
            [imageWidth]="160"
            [imageHeight]="160"
            [showImage]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff764d'"
            [innerStrokeColor]="'#172538'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
          ></circle-progress>
        </div> -->
