<div class="container-fluid mt-4">
    <div class="row educacion-section">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <h2 class="educacion-title">Educacion</h2>
            <p class="line firstLine"></p>
            <p class="line secondLine"></p> 
            <div class="card text-white mb-4 mt-4" >
                <div class="card-date">
                    <p>
                        <i class="fa-solid fa-calendar" style="color: #ff764d;"></i>&#160;&#160;<span class="date-start">12/02/2004</span>&#160;-&#160;<span class="date-end">20/12/2020</span>
                    </p>
                </div>
                <div class="card-header mt-2">Educacion</div>
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem iste expedita tempore deleniti fugiat culpa incidunt mollitia voluptates, beatae maxime.</p>
                </div>
            </div>

            <div class="card text-white mb-4 mt-4" *ngIf="vacio">
                <div class="card-header mt-2 text-center">NO SE REGISTRO NINGUNA EDUCACION</div>
            </div>
        </div>
        
    </div>
</div>