.card{
    transition: 1s;
    background-color: #0b1524;
    /* width: 100rem; */
    border-bottom: #080d15 0.4rem solid;
    border-right: #080d15 0.2rem solid;

}
.card-date{
    padding: 1rem 1rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.card-header{
    color:#ff764d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.9rem;
}
.card-text{
    font-size: 1.6rem;
    font-style: italic;
}

/* ANIMACIONES CARTAS */

/*CAMPOS*/

/*FECHAS*/
.card-date{
    margin-bottom: 4rem;
}
.dateDiv{
    margin:4px;
}
.input-group{
    height: 2rem;
}
.input-group-text{
    background-color: #0b1524;
}

button{
    background-color: #ff764d;
    color: #EDEDED;
    transition: 1s;
}
button:hover{
    transition: 1s;
    background-color: #EDEDED;
    color: #ff764d;
}



input{
    background-color: #0b1524;
    color:#ff764d;
    border: #ff764d solid 0.1rem;
    border-radius: 1rem;
}
input:enabled{
    background-color: #0b1524;
    color:#ff764d;
}