@media(max-width: 991px){
    /* .menu-navegacion{
        display: inline-block;
        text-align: center;
    }
    .encabezado-logo{
        width: 14rem;
        height: 9rem;
    } */
    app-redes-sociales{
        display: none;
    }
}