<nav class="navbar navbar-expand-lg">
    <div class="menu-navegacion container-fluid">
     <img src="../../../assets/logo.png" class="encabezado-logo" alt="logo">
     <div class="encabezado-icons-social">
      <app-redes-sociales></app-redes-sociales>
      <div class="encabezado-menu dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="encabezado-menu-logo fa-solid fa-bars fa-2xl"></i>
        </a>
        <ul class="dropdown-menu p-1">
          <li class="dropdown-item"><a class="nav-link " id="facebook"><i class="fa-brands fa-square-facebook"></i>&#160;Facebook</a></li>
          <li class="dropdown-item">
            <a class="nav-link " id="github"><i class="fa-brands fa-github"></i>&#160;Github</a>
          </li>
          <li class="dropdown-item">
            <a class="nav-link" id="whatssap"> <i class="fa-brands fa-whatsapp"></i>&#160;Whatssap</a>
          </li>
        </ul>
      </div>
     </div>
    </div>
  </nav>
  <app-banner></app-banner>
