<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link btn btn-social" id="facebook" href="#">FACEBOOK</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-social" id="github" href="#">GITHUB</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-social" id="whatssap" href="#">INSTRAGRAM</a>
    </li>
    <li class="nav-item">
        <a *ngIf="estaLogeado==false" class="nav-link nav-button btn" (click)="irLogin()">Login</a>
        <a *ngIf="estaLogeado==true" class="nav-link nav-button btn" (click)="logOut()">Cerrar Sesion</a>
    </li>
  </ul>