.acerca{
    color:white;
    padding: 2rem;
}
.acerca-informacion{
    padding: 1rem 4rem;
}
.acerca-foto{
    height: 20rem;
    width: 20rem;
    border-radius: 10rem;
}
.text-acerca{
    margin-top: 0.2rem;
    font-size: 1.8rem;
    font-weight: 490;
}

/* Title */
.acerca-title{
    /* margin: 2rem;
    margin-top: 4rem;
    margin-bottom: 0rem; */
    font-weight: bold;
    letter-spacing: 0.1rem;  
    font-size: 2.3rem; 
    font-family: 'Rubik', sans-serif;
}
.title-content{
    color: #EDEDED;
}
.description-content{
    font-weight: bold;
    font-style: italic;
    font-size: 1.6rem;
}

.acerca-descripcion{
    text-align: center;
}
/* .acerca-informacion{
    border-right: #ff764d 0.5rem solid;
    border-bottom: #ff764d 0.2rem solid;
    /* border-left: #ff764d 0.2rem solid;
    border-top: #ff764d 0.2rem solid; */
    .acerca-informacion{
        box-shadow: 8px 4px 4px #ff764d;        
    }
.acerca-informacion-content{
    font-size: 1.4rem;
}
.acerca-button{
    background-color: #ff764d;
    color: #EDEDED;
    /* border-radius: 4rem; */
    border-radius: 0%;
    margin-top: 1rem;
    transition: 1s;
}
.acerca-button:hover{
    background-color: #EDEDED;
    color: #ff764d;
    transition: 1s;
}

.line{
    border-top: #ff764d 0.3rem solid;    
}
.firstLine{
    width: 20ch;
}
.secondLine{
    width: 14ch;
}

.buttonEdicion{
    float: right;
}

/*FORMS*/
.formInput{
    background-color: #0b1524;
    color:#ff764d;
    border-radius: 1rem;
    border:solid #ff764d 0.1rem;
} 
.formInput:enabled{
    background-color: #0b1524;
    color:#ff764d;
}    
.textArea{
    background-color: #0b1524;
    color:#ff764d;
    border:solid #ff764d 0.1rem;
    border-radius: 1rem;
}
.textArea:enabled{
    background-color: #0b1524;
    color:#ff764d;
}
/* Responsive */
@media(max-width:1308px){
    .acerca-foto{
        height: 17rem;
        width: 17rem;
        border-radius: 10rem;
    }
}
@media(max-width: 1438px){

    .acerca-informacion-content{
        font-size: 1.4rem;

    }
}
@media(max-width: 870px){
    .acerca-informacion-content{
        font-size: 1rem;

    }
}
