/*ESTILOS*/
input{
    background-color: #0b1524;
    color:#ff764d;
    border-bottom: #ff764d 0.1rem solid;
}
input:enabled{
    background-color: #0b1524;
    color:#ff764d;
}
input::placeholder{
    color:#ff764d;
    font-weight: bold;
}

label{
    color:#ededed;
    font-weight: bold;
}
.buttonCrear{
    background-color: #ff764d;
    color:#ededed;
}